.answer {
    border: solid;
    border-radius: 15px;
    background-color: #212529;
    border-width: 2px;
    /*min-height: 300px;*/
    margin: 15px;
    /*display: flex;*/
    /*position: relative;*/
}

.make_answer {
    /*bottom: 0;*/
    height: 67.6px;
    width: 100%;
    display: flex;
    justify-content: end;
    /*position: absolute;*/
}

.make_answer_btn {
    margin: 15px;
}

.question_text{
    height: calc((100% - 67px )* 0.5);
    min-height: 50px;
    margin: 15px;
    width: 100%;
    color: white;
}

.answer_text{
    height: calc((100% - 67px )* 0.5);
    min-height: 50px;
    margin: 15px;
    width: 100%;
    color: white;
}

.inputInfo:focus {
    box-shadow: none;
    border-color: black;
}

.ask {
    display: flex;
    justify-content: end;
}

.ask_btn {
    margin: 15px
}

.alertText{
    text-align: center;
}


/*.form_switch_input{*/
/*    margin-top: 5.5px;*/
/*}*/

/*.form_switch_input:focus {*/
/*    box-shadow: none;*/
/*    border-color: black;*/
/*}*/

/*.form_switch_input:checked {*/
/*    background-color: black;*/
/*    border-color: black;*/
/*}*/